@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-color: #0096C7;
  font-family: 'Nunito', sans-serif;
  margin:0;
  padding: 0;
}
header{background-color: rgb(49, 57, 170);
background-color: #03045E;}
h1{
  font-size: 79px;
  margin-left:35%;
  color:white;
  margin-bottom:10px;
  margin-top:-10px;
  text-shadow: 2px 3px 0px black;
}
nav{
  background-color:#0077B6;
  margin-top:-9.5px;
  font-size:54px;
  color:white;
  height:75px; 
}
#homelink{
  margin-left:17%;
  
}
a{color:white;
  text-decoration:none;
  margin-left:40px;
  margin-top:70px;
  padding-right: 12px;
  padding-left: 12px;
  text-shadow: 2px 3px 0px black;
}

a:hover{
  background-color: #023E8A;
  
}
.highlight{
  background-color: #023E8A;
}
div {
  display: flex;
}
#box-0, #box-2,#box-6,#box-8{
  border:none;
}
#box-4{
  border:solid 8px black;
  border-left:none;
  border-right:none;
}
#box-1{
  border:solid 8px black;
  border-top:none;
  border-bottom:none;
}
#box-3{
  border:solid 8px black;
  border-left:none;
}
#box-5{
  border:solid 8px black;
  border-right:none;
}
#box-7{
  border:solid 8px black;
  border-bottom:none;
  border-top:none;
}
input:focus{outline:none;
}
input[type="button"]{
  width: auto;
  height:auto;
  margin-top:10%;
  background-color: #03045E;
}
input {
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 130px;
  text-align: center;
  
  background-color:transparent;
   color: whitesmoke;
  font-weight: bold;
  
}
input[type="text"]{
  text-shadow: 5px 5px 3px black;}
#main {
  margin-left: 500px;
  margin-top: 40px;
  width: 10px;
  height: 20px;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

button[id="retry"] {
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 37px;
  margin-top:10px;
  border-radius: 10px;
  margin-left: -400px;
  border-radius:10px;
  padding: 7px;
  
}
button[id="nameChange"],button[id="nameChanges"]{
  font-size: 25px;
  padding: 7px;
  border-radius:10px;
  background-color: #023E8A;
  color:white;
}
#displayMessage {
  -webkit-text-stroke: 0.6px rgb(238, 232, 232);
  font-family: 'Nunito', sans-serif;
}
#htp{color:rgb(68, 55, 55);
}
span{
  color:black;  
}
h3{
  margin-left:37%;
  font-size:54px;
}

#text1,#text2{
  margin-left:10%;
  color:white;
  text-shadow: 2px 3px 4px black;
}
#pvphead{
  margin-left:43%;
}
h3{
  color:whitesmoke;
  text-shadow: 2px 3px 0px black;
}

.stat{
  color:white;
  text-shadow: 2px 3px 0px black;
  width: fit-content;
}

#easy{
  position:absolute ;
  left: 70%;
  top:20%;

  text-align: center;
  width:20%;
}

#normal{
  position: absolute;
  top:33%;
  left:70%;

  text-align: center;
  width:20%;
  
}
#easy,#normal,#hard{
  text-shadow: 2px 2px 7px black;
  font-size:60px;
  transition: 0.25s linear;
  border-radius: 50px;
  margin-bottom: 10px;
}
#hard{
  position: absolute;
  top:45%;
  left:70%;
  
  text-align: center;
  width:20%;
}
